MONGODB_URI=
JWT_EXPIRES_IN=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=
MAIL_HOST = 
MAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 
MAIL_FROM=
FRONTEND_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=